$backcolor: #eee;
$forecolor: #000;
$selected: #77B5DC;

@mixin icon($img) {
  background-image: url($img);
  background-size: 22px;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 5px -8px -3px 6px;
  content: "";
  filter: invert(22%) sepia(90%) saturate(1115%) hue-rotate(3deg) brightness(96%) contrast(101%);
}

body {
  background: $backcolor;
  color: $forecolor;
  font-size: 14px;

  nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 35px;
    background: #bbb;
    overflow: hidden;
    transition: .5s ease;
    user-select: none;

    .menu {
      width: 25px;
      height: 25px;
      margin: 5px;
      transition: .5s ease;

      .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3.5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }

      &.change {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }

    &:hover {
      transition: .5s ease;
      width: 200px;
      overflow-y: scroll;

      .menu {
        transition: .5s ease;
      }

      ul li ul {
        display: block;
      }
    }

    ul {
      background: #bbb;
      color: $forecolor;
    }

    li {
      white-space: nowrap;
      list-style: none;
      margin-left: -40px;
      line-height: 1.75;
      cursor: pointer;
      position: relative;

      a {
        text-decoration: none;
        position: absolute;
        top: 6px;
        left: 35px;

        &:link, &:visited, &:hover, &:active {
          color: inherit;
        }
      }

      ul {
        display: none;

        li {
          height: 0;
          visibility: hidden;
          margin-left: -12px;

          ul {
            margin-left: -20px;

            li {
              display: inline-block;
              margin: 0 -5px 3px 5px;
              width: 35px;
              height: 35px;
            }
          }
        }
      }

      &.selected ul > li {
        height: auto;
        visibility: visible;
      }

      &.selected, &:hover {
        background: $selected;
      }
    }
  }

  .box {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    border: solid 1px grey;
    background: lightgrey;
    margin: 50px auto;
    padding: 15px 25px;

    &.large {
      max-width: 900px;
      background: #ddd;
    }

    p {
      &:not(.mensaje) {
        font-variant: small-caps;
        font-weight: bold;
        margin: 0 0 10px 0;
        font-size: 20px;
      }

      &.error {
        color: red;
      }

      &.success {
        color: darkgreen;
      }
    }

    table {
      margin: auto;

      td {
        padding: 5px 10px;
      }
    }

    .buttons {
      width: 100%;
      height: 100%;
      text-align: center;

      input[type="submit"], input[type="button"] {
        padding: 5px 10px;
      }
    }
  }

  form table {
    text-transform: capitalize;
    margin: 0 auto;

    tr {
      line-height: 22px;

      th {
        text-align: left;
        padding-right: 10px;
      }

      td {
        text-align: left;
        width: min-content;

        input[type=number] {
          width: 60px;
        }

        select {
          max-width: 150px;
          text-transform: capitalize;
        }
      }
    }

    div.list {
      font-size: x-small;
      font-style: italic;
      line-height: 1.2;
      margin: 15px 0 -30px 0;
    }
  }
}

.admin::before { @include icon('/static/svg/admin.svg'); }
.user::before { @include icon('/static/svg/user.svg'); }
.passwd::before { @include icon('/static/svg/passwd.svg'); }
.logout::before { @include icon('/static/svg/logout.svg'); }
.sched::before { @include icon('/static/svg/month.svg'); }
.group::before { @include icon('/static/svg/group.svg'); }
.open::before { @include icon('/static/svg/open.svg'); }
.duplicate::before { @include icon('/static/svg/duplicate.svg'); }
.delete::before { @include icon('/static/svg/delete.svg'); }
.edit::before { @include icon('/static/svg/edit.svg'); }
.new::before { @include icon('/static/svg/new.svg'); }

.open { filter: invert(13%) sepia(45%) saturate(5823%) hue-rotate(223deg) brightness(92%) contrast(103%); }
.duplicate { filter: invert(20%) sepia(81%) saturate(1956%) hue-rotate(88deg) brightness(101%) contrast(97%); }
.delete { filter: invert(11%) sepia(75%) saturate(5459%) hue-rotate(357deg) brightness(108%) contrast(113%); }
.edit { filter: invert(50%) sepia(34%) saturate(708%) hue-rotate(139deg) brightness(93%) contrast(91%); }

td.icons {
  cursor: default;
  user-select: none;

  a {
    margin: 0 7px;
    cursor: pointer;
  }
}

ul#roles li {
  list-style: none;
}

.ui-dialog {
  top: 25% !important;
  border-radius: 7px !important;
  font-size: 14px !important;
}

.ui-widget-overlay {
  opacity: .60 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=60) !important;
  background: rgb(50, 50, 50) !important; /* This will make it darker */
}

.ui-widget-content{
  .del-schedule {
    font-weight: bold;
    font-size: medium;
    text-align: center;
    color: #C70039;
  }
}

@media(max-width: 1024px) { // Mobile
  nav {
    height: 35px;

    &:hover {
      height: auto;
      bottom: 0;
    }
  }
}

@media(min-width: 1024px) { // Desktop
  nav {
    bottom: 0;
  }
}
