body {
  background: #eee;
  color: #000;
  font-size: 14px;
}
body nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 35px;
  background: #bbb;
  overflow: hidden;
  transition: 0.5s ease;
  user-select: none;
}
body nav .menu {
  width: 25px;
  height: 25px;
  margin: 5px;
  transition: 0.5s ease;
}
body nav .menu .bar1, body nav .menu .bar2, body nav .menu .bar3 {
  width: 25px;
  height: 3.5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
body nav .menu.change {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
body nav:hover {
  transition: 0.5s ease;
  width: 200px;
  overflow-y: scroll;
}
body nav:hover .menu {
  transition: 0.5s ease;
}
body nav:hover ul li ul {
  display: block;
}
body nav ul {
  background: #bbb;
  color: #000;
}
body nav li {
  white-space: nowrap;
  list-style: none;
  margin-left: -40px;
  line-height: 1.75;
  cursor: pointer;
  position: relative;
}
body nav li a {
  text-decoration: none;
  position: absolute;
  top: 6px;
  left: 35px;
}
body nav li a:link, body nav li a:visited, body nav li a:hover, body nav li a:active {
  color: inherit;
}
body nav li ul {
  display: none;
}
body nav li ul li {
  height: 0;
  visibility: hidden;
  margin-left: -12px;
}
body nav li ul li ul {
  margin-left: -20px;
}
body nav li ul li ul li {
  display: inline-block;
  margin: 0 -5px 3px 5px;
  width: 35px;
  height: 35px;
}
body nav li.selected ul > li {
  height: auto;
  visibility: visible;
}
body nav li.selected, body nav li:hover {
  background: #77B5DC;
}
body .box {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  border: solid 1px grey;
  background: lightgrey;
  margin: 50px auto;
  padding: 15px 25px;
}
body .box.large {
  max-width: 900px;
  background: #ddd;
}
body .box p:not(.mensaje) {
  font-variant: small-caps;
  font-weight: bold;
  margin: 0 0 10px 0;
  font-size: 20px;
}
body .box p.error {
  color: red;
}
body .box p.success {
  color: darkgreen;
}
body .box table {
  margin: auto;
}
body .box table td {
  padding: 5px 10px;
}
body .box .buttons {
  width: 100%;
  height: 100%;
  text-align: center;
}
body .box .buttons input[type=submit], body .box .buttons input[type=button] {
  padding: 5px 10px;
}
body form table {
  text-transform: capitalize;
  margin: 0 auto;
}
body form table tr {
  line-height: 22px;
}
body form table tr th {
  text-align: left;
  padding-right: 10px;
}
body form table tr td {
  text-align: left;
  width: min-content;
}
body form table tr td input[type=number] {
  width: 60px;
}
body form table tr td select {
  max-width: 225px;
  text-transform: capitalize;
}
body form table div.list {
  font-size: x-small;
  font-style: italic;
  line-height: 1.2;
  margin: 15px 0 -30px 0;
}

.admin::before {
  background-image: url("/static/svg/admin.svg");
  background-size: 22px;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 5px -8px -3px 6px;
  content: "";
  filter: invert(22%) sepia(90%) saturate(1115%) hue-rotate(3deg) brightness(96%) contrast(101%);
}

.user::before {
  background-image: url("/static/svg/user.svg");
  background-size: 22px;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 5px -8px -3px 6px;
  content: "";
  filter: invert(22%) sepia(90%) saturate(1115%) hue-rotate(3deg) brightness(96%) contrast(101%);
}

.passwd::before {
  background-image: url("/static/svg/passwd.svg");
  background-size: 22px;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 5px -8px -3px 6px;
  content: "";
  filter: invert(22%) sepia(90%) saturate(1115%) hue-rotate(3deg) brightness(96%) contrast(101%);
}

.logout::before {
  background-image: url("/static/svg/logout.svg");
  background-size: 22px;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 5px -8px -3px 6px;
  content: "";
  filter: invert(22%) sepia(90%) saturate(1115%) hue-rotate(3deg) brightness(96%) contrast(101%);
}

.sched::before {
  background-image: url("/static/svg/month.svg");
  background-size: 22px;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 5px -8px -3px 6px;
  content: "";
  filter: invert(22%) sepia(90%) saturate(1115%) hue-rotate(3deg) brightness(96%) contrast(101%);
}

.group::before {
  background-image: url("/static/svg/group.svg");
  background-size: 22px;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 5px -8px -3px 6px;
  content: "";
  filter: invert(22%) sepia(90%) saturate(1115%) hue-rotate(3deg) brightness(96%) contrast(101%);
}

.open::before {
  background-image: url("/static/svg/open.svg");
  background-size: 22px;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 5px -8px -3px 6px;
  content: "";
  filter: invert(22%) sepia(90%) saturate(1115%) hue-rotate(3deg) brightness(96%) contrast(101%);
}

.duplicate::before {
  background-image: url("/static/svg/duplicate.svg");
  background-size: 22px;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 5px -8px -3px 6px;
  content: "";
  filter: invert(22%) sepia(90%) saturate(1115%) hue-rotate(3deg) brightness(96%) contrast(101%);
}

.delete::before {
  background-image: url("/static/svg/delete.svg");
  background-size: 22px;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 5px -8px -3px 6px;
  content: "";
  filter: invert(22%) sepia(90%) saturate(1115%) hue-rotate(3deg) brightness(96%) contrast(101%);
}

.edit::before {
  background-image: url("/static/svg/edit.svg");
  background-size: 22px;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 5px -8px -3px 6px;
  content: "";
  filter: invert(22%) sepia(90%) saturate(1115%) hue-rotate(3deg) brightness(96%) contrast(101%);
}

.new::before {
  background-image: url("/static/svg/new.svg");
  background-size: 22px;
  background-position: center;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 5px -8px -3px 6px;
  content: "";
  filter: invert(22%) sepia(90%) saturate(1115%) hue-rotate(3deg) brightness(96%) contrast(101%);
}

.open {
  filter: invert(13%) sepia(45%) saturate(5823%) hue-rotate(223deg) brightness(92%) contrast(103%);
}

.duplicate {
  filter: invert(20%) sepia(81%) saturate(1956%) hue-rotate(88deg) brightness(101%) contrast(97%);
}

.delete {
  filter: invert(11%) sepia(75%) saturate(5459%) hue-rotate(357deg) brightness(108%) contrast(113%);
}

.edit {
  filter: invert(50%) sepia(34%) saturate(708%) hue-rotate(139deg) brightness(93%) contrast(91%);
}

td.icons {
  cursor: default;
  user-select: none;
}
td.icons a {
  margin: 0 7px;
  cursor: pointer;
}

ul#roles li {
  list-style: none;
}

.ui-dialog {
  position: fixed !important;
  top: 25% !important;
  border-radius: 7px !important;
  font-size: 14px !important;
}

.ui-widget-overlay {
  opacity: 0.6 !important;
  /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=60) !important;
  background: rgb(50, 50, 50) !important;
  /* This will make it darker */
}

.ui-widget-content .del-schedule {
  font-weight: bold;
  font-size: medium;
  text-align: center;
  color: #C70039;
}

@media (max-width: 1024px) {
  nav {
    height: 35px;
  }
  nav:hover {
    height: auto;
    bottom: 0;
  }
}
@media (min-width: 1024px) {
  nav {
    bottom: 0;
  }
}
