<nav>
  <div class="menu">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <ul>
    <li class="user">
      <a>{{ user.id }}</a>
      <ul>
        <li class="passwd"><a onclick="window.location = '{{ url_for('.index') }}';">Cambiar contrase&ntilde;a</a></li>
        <li class="logout"><a onclick="window.location = '{{ url_for('logout') }}';">Cerrar sesi&oacute;n</a></li>
      </ul>
    </li>
    <li class="new">
      <a onclick="new_schedule();">Nuevo Cuadro</a>
    </li>
    {% for i in range(5) %}
    <li class="month {{ 'selected' if not i and schedule_id == 'e9711e7f7f5b40039e5822ad61cb1bf3' else '' }}">
      <a>Abril 2022</a>
      <ul>
        <li class="group">
          <a>Anestesi&oacute;logos</a>
          <ul>
            <li class="open" onclick="open_schedule('{{ i if i else 'e53c73cb46054a7a99a5fa0a2f7634c9' }}');" title="Abrir"></li>
            <li class="duplicate" onclick="duplicate_schedule('{{ i if i else 'e53c73cb46054a7a99a5fa0a2f7634c9' }}');" title="Duplicar"></li>
            <li class="delete" onclick="delete_schedule('{{ i if i else 'e53c73cb46054a7a99a5fa0a2f7634c9' }}');" title="Eliminar"></li>
          </ul>
        </li>
        {% if i < 3 %}
        <li class="group">
          <a>Asistenciales</a>
          <ul>
            <li class="open" onclick="open_schedule('{{ i }}');"></li>
            <li class="duplicate" onclick="duplicate_schedule('{{ i }}');" title="Duplicar"></li>
            <li class="delete" onclick="delete_schedule('{{ i }}');" title="Eliminar"></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</nav>
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
