<nav>
  <div class="menu">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <ul>
    <li class="user">
      <a>{{ user.id }}</a>
      <ul>
        <li class="passwd"><a onclick="window.location = '{{ url_for('.index') }}';">Cambiar contrase&ntilde;a</a></li>
        <li class="logout"><a onclick="window.location = '{{ url_for('logout') }}';">Cerrar sesi&oacute;n</a></li>
      </ul>
    </li>
    <li class="new">
      <a onclick="new_schedule();">Nuevo Cuadro</a>
    </li>
    {% for s in user.data.get('schedules', 'None|').replace('None|', '').split('|') %}
      {% if '@' in s %}
        {% set s_month, s_group, s_id = s.split('@') %}
        <li class="month {{ 'selected' if schedule_id == s_id else '' }}">
          <a>{{ s_month }}</a>
          <ul>
            <li class="group">
              <a>{{ s_group }}</a>
              <ul>
                <li class="open" onclick="open_schedule('{{ s_id }}');" title="Abrir"></li>
                <li class="duplicate" onclick="duplicate_schedule('{{ s_id }}');" title="Duplicar"></li>
                <li class="delete" onclick="delete_schedule('{{ s_id }}');" title="Eliminar"></li>
              </ul>
            </li>
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
