{% extends 'base.html' %}

{% block title %} Acuatur {% endblock %}

{% block style %} {% endblock %}

{% block content %}
  <div class="box">
    <form action="" method="post">
      <table>
        <tr>
          <th>Usuario:</th>
          <td>{{ user.data['name'] }} ({{ user.id }})</td>
        </tr>
        <tr>
          <th>Contrase&ntilde;a actual:</th>
          <td><input type="password" name="old_password"></td>
        </tr>
        <tr>
          <th>Nueva contrase&ntilde;a:</th>
          <td><input type="password" name="new_password"></td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="buttons">
              <input type="submit" value="Cambiar Contrase&ntilde;a">
            </div>
          </td>
        </tr>
      </table>
    </form>
  </div>
{% endblock %}

{% block scripts %} {% endblock %}
