{% extends 'base.html' %}

{% block title %} Acuatur {% endblock %}

{% block style %} {% endblock %}

{% block content %}
  {% if request.method == 'POST' %}
    <div class="box">
      <p class="{{ result[0] }}">
        {% if result[0] == 'success' %} &Eacute;xito {% else %} Ocurri&oacute; un Error {% endif %}
      </p>
      <p class="mensaje">{{ result[1] | safe }}</p>
      {% if result[0] == 'success' %}
        <p class="mensaje">En 3 segundos ser&aacute; redirigid@ a la p&aacute;gina de inicio.</p>
        <script type="text/javascript">
          var timer = setTimeout(function() {
              window.location=`{{ url_for('.index') }}`
          }, 3000);
        </script>
      {% endif %}
    </div>
  {% endif %}
  {% if request.method != 'POST' or result[0] != 'success' %}
    <div class="box">
      <form action="" method="post">
        <table>
          <tr>
            <th>Usuario:</th>
            <td>{{ user.data['name'] }} (<span style="text-transform: lowercase;">{{ user.id }})</span></td>
          </tr>
          <tr>
            <th>Contrase&ntilde;a actual:</th>
            <td><input type="password" name="old_password" required></td>
          </tr>
          <tr>
            <th>Nueva contrase&ntilde;a:</th>
            <td><input type="password" name="new_password" required></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="buttons">
                <input type="submit" value="Cambiar Contrase&ntilde;a">
                <input type="button" value="Regresar" onclick="window.location.replace('{{ url_for('.index') }}');">
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %} {% endblock %}
